<% provide(:title, "Escolha o(s) quarto(s)") %>
<table class="table">
	<thead>
		<th>Quarto ID</th>
		<th>Reserva</th>
	</thead>
	<tbody>
		<% @quartos_disponiveis.each do |q| %>
	
		<tr>
			<td><%= q.id %></td>
			<td><%= link_to "Reservar agora!", reservas_path, :method => "POST", :class => "btn btn-primary" %></td>
		</tr>
		<% end %>
</tbody>
</table>


<%= form_tag(reservas_path) do %>
<h2>Reserva para chegada no dia <%=@start_date%> e saída no dia <%=@end_date%></h2>
<div>
<%= label_tag :start_date, "Data de Chegada" %>
<%= hidden_field_tag :start_date, params[:reserva][:start_date] %>
</div>
<% end %>

<table class="table">
	<thead>
		<th>Quarto ID</th>
		<th>Reserva</th>
	</thead>
	<tbody>
		<% @quartos_disponiveis.each do |q| %>
	
		<tr>
			<td><%= q.id %></td>
			<td><%= link_to "Reservar agora!", reservas_path(start_date: @start_date, end_date: @end_date, quarto_id: q.id), :method => "POST", :class => "btn btn-primary" %></td>
		</tr>
		<% end %>
</tbody>
</table>
