<% provide(:title, "Nova Reserva")%>
<h3>Escolha uma data</h3>
<%= form_for(@reserva, url: {action: "check_available"}) do |f| %>
<%= f.label :start_date, "Data de Chegada" %>
<%= f.text_field :start_date %>

<%= f.label :end_date, "Data de Saída" %>
<%= f.text_field :end_date %>

<%= f.submit "Buscar Quartos", class: "btn btn-small btn-primary" %>
<% end %>