<% provide(:title, "Lista de Remédios") %>
<h2>Lista de Remédios</h2>
<table class="table">
	<tr>
		<th><%= link_to "Descrição", :sort => "descricao" %></th>
		<th><%= link_to "Quantidade", :sort => "quantidade" %></th>
	</tr>
	<% for remedio in @remedios %>
	<tr>
		<td><%= remedio.descricao %></td>
		<td><%= remedio.quantidade %></td>
	</tr>
	<% end %>
</table>

<%= link_to "Novo Remédio", new_remedio_path %>

